* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 .font-inter {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }

.btn-frist {
  padding: 12px 16px;
  border-radius:4px;
  font-weight:600;
   background:#469165;
  color:#FFFFFF;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 16px 120px;
}
.navbar a {
  margin-right:32px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.main-btn{
  font-size: 16px;
  font-weight: 500;
  padding: 9px 13px;
  border-radius:1000px;
  
  margin-top: 150px;
  color: #469165;
  background-color: #FFFFFF;
   cursor: pointer;
}
.btn1{
    font-size: 16px;
    width: 136px;
    font-weight: 500;
    padding: 12px 16px;
    border-radius:  4px;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
      
}
.btn{
    font-size: 16px;
    font-weight:600;
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: #469165;
    cursor: pointer;


}

.hero-parent{
 display: flex;
    flex-direction: column;
    align-items: center;
margin: auto;    
}
main{
  background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
  padding-bottom: 120px;
  
   
}

.hero-parent h1 {
    font-size:82px;
  font-weight:700;
  color: #FFFFFF;
  margin-top: 16px;
}
.heading-green{
    color: #469165;
}
.hero-parent p{
font-size: 18px;
font-weight: 400;
color: #FFFFFF;
}
.hero-actions{
  margin-top: 45px;

}
.middle-title{
 display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
   
}
.middle-title h1{
   font-size: 48px;
   font-weight: 700;
  
}
.middle-title p{
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
}
   section{
  justify-content: center;
}
.card-parent{
  display: flex;
  
  gap: 20px;
}
.card{
background-color:#FFFFFF;
border-radius: 8px;
 box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 25px;
 width: 322px;
 height: 250px;
}
.card h2{
    font-size: 24px;
     font-size: 24px;
     color: #001931;
     
}
.card p{
  color: #627382;
font-size: 16px;
font-weight: 400;
margin: 0 auto;
}
.card img{ 
  padding:7px 7px 7px 7px;
  width: 39px;
background-color: #F95555;
border-radius: 50%;
}
.container {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}
.image-box img {
  width: 600px;
  height: auto;
}
.text-container {
  max-width: 520px;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color:#30B868;
  text-transform: uppercase;
}

.text-container h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #001931;
  margin: 16px 0;
}

.text-container p {
  font-size: 16px;
  color:#627382;
  margin-bottom: 24px;
}
.features {
  list-style: none;
  padding: 0;
}

.features li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.features li::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../assets/CheckCircle.png") no-repeat center;
  background-size: contain;
}

.ready {
  width: 100%;
  background: #FFFFFF;
  padding: 0px 120px  120px 120pxgit;
  display: flex;
  justify-content: center;
}

.frist-controler {
  max-width: 700px;
  background: #FFFFFF;
  padding: 80px 40px;
  text-align: center;
  border-radius: 12px;
}
.frist-controler h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}
.frist-controler p {
  font-size: 16px;
  color:#627382;
  margin-bottom: 24px;
}

.note {
  margin-top: 16px;
  font-size: 14px;
  color: #7a8b9a;
}

.footer {
  background:rgba(0, 25, 49, 1);
  padding: 120px 120px 30px 120px;
  color:#ffffff;

}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}


.footer-social {
  text-align: right;
}

.footer-social p {
  font-size: 16px;
  margin-bottom: 12px;
}

.social-icons {
  display: flex;
  gap: 14px;
  justify-content: flex-end;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  height: 1px;
  margin: 20px;
  background-color:#ffffff;
}